.row
  .small-12.columns
    %h1
      List of repos:
    %ul
      - @orgs&.each do |org|
        %li
          = image_tag org["avatar_url"]
          = link_to org["login"], org["url"]
.row
  .small-12.columns
    List of Pull Requests for user
    %ul
      - @pull_requests["items"]&.each_with_index do |pr,i|
        %li
          = "#{ i + 1 }: #{ pr["title"] }"
          = "Description: #{ pr["body"].html_safe }"


